---
// import { AstroSeo } from '@astrolib/seo';

import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";

// import MainHead from '../components/MainHead.astro';

import Seo from '../components/Seo.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';
import '../styles/navigation.css';
import '../styles/typography.css';
import '../styles/colours.css';


interface Props {
  uniqueID?: string | undefined;
	pageTitle?: string | undefined;
	metaTitle?: string | undefined;
	metaDescription?: string | undefined;
  pageHead?: string | undefined;
  pageDesc?: string | undefined;
  pageContent?: string | undefined;
}

const { uniqueID, pageTitle, metaTitle, metaDescription, pageHead, pageDesc, pageContent } = Astro.props;

---
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={metaTitle} /> 
    <meta name="description" content={metaDescription} />

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{pageTitle}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800;900&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">


    <ViewTransitions />
  </head>
  <body id={uniqueID}>
    <Header />
    <div class="target" style="height:-1px; width:100vw"></div>
      <div class="main-content">
        <section class="hero">
          <h1 class="text-gradient" transition:animate={fade({ duration: '1s' })} >{pageHead}</h1>
          <h2>{pageDesc}</h2>
          <p>{pageContent}</p>
        </section>
      <!-- slot -->
        
          <slot />
        
      </div>
    <Footer />
    <script is:inline>
      // This code is inlined in the head to make dark mode instant & blocking.
      import "../scripts/scroll.js";

    </script>
    
    <!-- relative path to script at `src/scripts/local.js` -->
    <!-- <script src="../scripts/scroll.js"></script> -->
 
    <script >
      import "../scripts/menu.js";
      // import "../scripts/scroll.js";
    </script>


  </body>
</html>

<style>

:root {
		--accent: 124, 58, 237;
		--accent-gradient: 
      linear-gradient(
        45deg, 
        rgb(var(--accent)), 
        #da62c4 30%, 
        white 60%);
}

.text-gradient {
		background-image: var(--accent-gradient);
    /* background-image: var(--gradient-accent); */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
}



body {
  --bg-opacity: 1;
  background-color: rgb(242 242 242/var(--bg-opacity));
}

</style>

<style is:global>
  /* Improve Page speed */
  /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
  img {
    content-visibility: auto;
  }
</style>